@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin"), local("Roboto-Thin"), url("/fonts/robotothin.woff2") format("woff2"), url("/fonts/robotothin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("/fonts/robotothinitalic.woff2") format("woff2"), url("/fonts/robotothinitalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light"), local("Roboto-Light"), url("/fonts/robotolight.woff2") format("woff2"), url("/fonts/robotolight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("/fonts/robotolightitalic.woff2") format("woff2"), url("/fonts/robotolightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/roboto.woff2") format("woff2"), url("/fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Italic"), local("Roboto-Italic"), url("/fonts/robotoitalic.woff2") format("woff2"), url("/fonts/robotoitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium"), local("Roboto-Medium"), url("/fonts/robotomedium.woff2") format("woff2"), url("/fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("/fonts/robotomediumitalic.woff2") format("woff2"), url("/fonts/robotomediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold"), local("Roboto-Bold"), url("/fonts/robotobold.woff2") format("woff2"), url("/fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("/fonts/robotobolditalic.woff2") format("woff2"), url("/fonts/robotobolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black"), local("Roboto-Black"), url("/fonts/robotoblack.woff2") format("woff2"), url("/fonts/robotoblack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("/fonts/robotoblackitalic.woff2") format("woff2"), url("/fonts/robotoblackitalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-collapse: collapse; }
  *::-moz-selection {
    background-color: rgba(0, 151, 186, 0.5); }
  *::selection {
    background-color: rgba(0, 151, 186, 0.5); }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: #fff;
  font-weight: 300;
  color: #000;
  line-height: 2em;
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word; }
  @media (-webkit-min-device-pixel-ratio: 2) {
    body {
      font-weight: 200; } }

a {
  color: currentColor;
  outline: none; }

article {
  padding: 40px 50px;
  text-align: justify; }
  @media (max-width: 500px) {
    article {
      padding: 40px 10px; } }

img {
  pointer-events: none; }

svg {
  fill: currentcolor;
  width: 100px;
  height: 100px; }

input, textarea {
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-appearance: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0; }

hr {
  border-width: 0;
  height: 1px;
  background-color: currentcolor; }

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

h4 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

h6 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  letter-spacing: .1rem;
  padding: 20px 0;
  margin: 0;
  line-height: 2em; }

.bug {
  color: red !important; }

.fill-color--first {
  color: #dd748a; }

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.clear {
  clear: both; }

.no-underline {
  text-decoration: none; }

.big {
  font-size: 1.4em; }

.image {
  width: 100%;
  position: relative;
  z-index: 1; }

.image--site {
  width: 400px;
  float: right;
  padding: 0 0 25px 50px; }
  @media (max-width: 750px) {
    .image--site {
      float: none;
      width: 300px;
      padding: 0 0 25px 0;
      margin: 0 auto;
      display: block; } }

.button {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 200px;
  min-height: 50px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 300; }

.button--full {
  border: 2px solid currentcolor;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: currentcolor; }

.button--underline {
  color: #4a4a4a;
  background-color: #fff;
  border-bottom: 2px solid currentcolor; }
  .button--underline:hover, .button--underline:focus {
    background-color: #e4e4e4;
    color: #000; }

.button--rosen {
  color: #dd748a;
  border-color: #dd748a; }
  .button--rosen:hover, .button--rosen:focus {
    background-color: #dd748a;
    border-color: #dd748a;
    color: #fff; }

.button--arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 930px) {
  .center-930px {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

.ajax-alert-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0, 0, 0, 0.8); }

.ajax-alert-popup--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.window {
  contain: paint;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center; }

.window__button-close {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: #fff;
  border-color: #151515;
  cursor: pointer; }
  .window__button-close:hover, .window__button-close:focus {
    background-color: #151515;
    color: #fff; }

.window--done {
  background-color: #0097ba; }

.window--error {
  background-color: #0097ba; }

.window__text {
  font-size: 18px; }

.window__text--done {
  display: none; }

.window__text--error {
  display: none; }

.header {
  background-size: cover;
  color: #fff;
  position: relative;
  width: 100%; }

.header__mask {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(350deg, rgba(74, 74, 74, 0.5) 33.3%, rgba(221, 116, 138, 0.5) 33.4%, rgba(221, 116, 138, 0.5) 66.6%, rgba(0, 151, 186, 0.5) 66.7%, rgba(0, 151, 186, 0.5) 100%);
  background-image: linear-gradient(100deg, rgba(74, 74, 74, 0.5) 33.3%, rgba(221, 116, 138, 0.5) 33.4%, rgba(221, 116, 138, 0.5) 66.6%, rgba(0, 151, 186, 0.5) 66.7%, rgba(0, 151, 186, 0.5) 100%);
  position: relative;
  z-index: 5; }

.header__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.header__title {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  position: absolute;
  top: 40%;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  font-size: 40px;
  width: 100%;
  z-index: 20;
  opacity: 0; }
  @media (max-width: 500px) {
    .header__title {
      font-size: 25px;
      top: 35%; } }

.header__title--back {
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%); }

.header__title--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: 20;
  opacity: 1; }

.header__title--const {
  position: absolute;
  top: 38%;
  text-align: center;
  z-index: 20;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  @media (max-width: 500px) {
    .header__title--const {
      font-size: 2em;
      top: 30%; } }

.header__title--slice {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: -33px;
  z-index: 20;
  font-size: 5em;
  line-height: 1.5em;
  color: #fff; }
  @media (max-width: 1100px) {
    .header__title--slice {
      font-size: 3.5em;
      bottom: -24px; } }
  @media (max-width: 750px) {
    .header__title--slice {
      font-size: 3em;
      bottom: -21px; } }
  @media (max-width: 650px) {
    .header__title--slice {
      font-size: 2em;
      bottom: -14px; } }

.header__title--right {
  text-align: right;
  padding-right: 5%; }

.header--index {
  height: 600px;
  background-position: 50% 30%;
  overflow-x: hidden; }

.header--1div3 {
  height: 170px;
  background-color: #0097ba; }

.header--2div3 {
  height: 350px; }

.header--about {
  background-image: url("/img/about-M.jpg");
  background-position: 50% 75%; }
  @media (min-width: 4000px) {
    .header--about {
      background-image: url("/img/about-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--about {
      background-image: url("/img/about-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--about {
      background-image: url("/img/about-S.jpg"); } }

.header--services {
  background-image: url("/img/services-M.jpg");
  background-position: 50% 75%; }
  @media (min-width: 4000px) {
    .header--services {
      background-image: url("/img/services-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--services {
      background-image: url("/img/services-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--services {
      background-image: url("/img/services-S.jpg"); } }

.header--portfolio {
  background-image: url("/img/portfolio-M.jpg");
  background-position: 50% 60%; }
  @media (min-width: 4000px) {
    .header--portfolio {
      background-image: url("/img/portfolio-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--portfolio {
      background-image: url("/img/portfolio-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--portfolio {
      background-image: url("/img/portfolio-S.jpg"); } }

.header--blog {
  background-image: url("/img/blog-M.jpg");
  background-position: 50% 60%; }
  @media (min-width: 4000px) {
    .header--blog {
      background-image: url("/img/blog-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--blog {
      background-image: url("/img/blog-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--blog {
      background-image: url("/img/blog-S.jpg"); } }

.header--vacancies {
  background-image: url("/img/vacancies-M.jpg");
  background-position: 50% 100%; }
  @media (min-width: 4000px) {
    .header--vacancies {
      background-image: url("/img/vacancies-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--vacancies {
      background-image: url("/img/vacancies-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--vacancies {
      background-image: url("/img/vacancies-S.jpg"); } }

.header--contacts {
  background-image: url("/img/contacts-M.jpg");
  background-position: 50% 50%; }
  @media (min-width: 4000px) {
    .header--contacts {
      background-image: url("/img/contacts-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--contacts {
      background-image: url("/img/contacts-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--contacts {
      background-image: url("/img/contacts-S.jpg"); } }

.header--tools {
  background-image: url("/img/tools-M.jpg");
  background-position: 50% 50%; }
  @media (min-width: 4000px) {
    .header--tools {
      background-image: url("/img/tools-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--tools {
      background-image: url("/img/tools-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--tools {
      background-image: url("/img/tools-S.jpg"); } }

.header--jqueryin2017 {
  background-image: url("/img/articles/jqueryin2017-M.jpg");
  background-position: 50% 60%; }
  @media (min-width: 4000px) {
    .header--jqueryin2017 {
      background-image: url("/img/articles/jqueryin2017-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--jqueryin2017 {
      background-image: url("/img/articles/jqueryin2017-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--jqueryin2017 {
      background-image: url("/img/articles/jqueryin2017-S.jpg"); } }

.header--spritekit {
  background-image: url("/img/articles/spritekit-M.jpg");
  background-position: 50% 60%; }
  @media (min-width: 4000px) {
    .header--spritekit {
      background-image: url("/img/articles/spritekit-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--spritekit {
      background-image: url("/img/articles/spritekit-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--spritekit {
      background-image: url("/img/articles/spritekit-S.jpg"); } }

.header--vnutrennyaya-optimizaciya {
  background-image: url("/img/articles/vnutrennyaya_optimizaciya-M.jpg");
  background-position: 50% 60%; }
  @media (min-width: 4000px) {
    .header--vnutrennyaya-optimizaciya {
      background-image: url("/img/articles/vnutrennyaya_optimizaciya-XL.jpg"); } }
  @media (min-width: 2000px) {
    .header--vnutrennyaya-optimizaciya {
      background-image: url("/img/articles/vnutrennyaya_optimizaciya-L.jpg"); } }
  @media (max-width: 1000px) {
    .header--vnutrennyaya-optimizaciya {
      background-image: url("/img/articles/vnutrennyaya_optimizaciya-S.jpg"); } }

.header--domotoplenya {
  background-image: url("/img/clients/cis/cis_full.png");
  background-position: 50% 45%; }

.header--gazel-traffic {
  background-image: url("/img/clients/gazel-traffic/gazel-traffic_full.jpg");
  background-position: 50% 45%; }

.header--sportlifting {
  background-image: url("/img/clients/sportlifting/sportlifting_full.jpg");
  background-position: 50% 50%; }

.header--justspaceshoot {
  background-image: url("/img/clients/justspaceshoot/justspaceshoot_full.png");
  background-position: 50% 35%; }

.header--doly-tula {
  background-image: url("/img/clients/doly-tula/doly-tula_full.jpg");
  background-position: 50% 50%; }

.header--tulskayakvartirka {
  background-image: url("/img/clients/tulskayakvartirka/tulskayakvartirka_full.jpg");
  background-position: 50% 50%; }

.header--volonter71 {
  background-image: url("/img/clients/volonter71/volonter71_full.jpg");
  background-position: 50% 50%; }

.header--tsu {
  background-image: url("/img/clients/tsu/tsu_full.jpg");
  background-position: 50% 40%; }

.header--tcn {
  background-image: url("/img/clients/tcn/tcn_full.jpg");
  background-position: 50% 40%; }

.header--wunder {
  background-image: url("/img/clients/wunder/wunder_full.png");
  background-position: 50% 50%; }

.certificates {
  width: 100%;
  position: relative;
  color: #000;
  background-color: #fff; }

.carusel {
  position: relative;
  overflow-x: hidden;
  height: 400px; }

.slider {
  width: 100%; }

.slider--line {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  position: absolute; }

.slider__slide {
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
  z-index: -100; }

.slider__slide--line {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: 0;
  display: inline-block;
  padding: 0;
  background-clip: content-box;
  margin: 0;
  width: 25%;
  height: 250px;
  background-color: #fff;
  outline: 1px solid #fff; }
  @media (max-width: 800px) {
    .slider__slide--line {
      width: 50%; } }
  @media (max-width: 500px) {
    .slider__slide--line {
      width: 100%; } }

.slider__slide--back {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: -100; }

.slider__slide--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  z-index: -99; }

.slider__slide--2 {
  -o-object-position: 50% 20%;
     object-position: 50% 20%; }

.slider__slide--3 {
  -o-object-position: 50% 50%;
     object-position: 50% 50%; }

.slider__slide--4 {
  -o-object-position: 50% 50%;
     object-position: 50% 50%; }

.slide__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.arrow__wrapper {
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  cursor: pointer; }

.arrow__wrapper--left {
  left: 0; }
  .arrow__wrapper--left:hover .slider__arrow--left, .arrow__wrapper--left:focus .slider__arrow--left {
    -webkit-transform: rotate(90deg) scale(1.1);
        -ms-transform: rotate(90deg) scale(1.1);
            transform: rotate(90deg) scale(1.1); }

.arrow__wrapper--right {
  right: 0; }
  .arrow__wrapper--right:hover .slider__arrow--right, .arrow__wrapper--right:focus .slider__arrow--right {
    -webkit-transform: rotate(-90deg) scale(1.1);
        -ms-transform: rotate(-90deg) scale(1.1);
            transform: rotate(-90deg) scale(1.1); }

.slider__arrow {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 50;
  width: 35px;
  height: 35px; }

.slider__arrow--left {
  left: 20px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
  .slider__arrow--left:hover, .slider__arrow--left:focus {
    -webkit-transform: rotate(90deg) scale(1.1);
        -ms-transform: rotate(90deg) scale(1.1);
            transform: rotate(90deg) scale(1.1); }

.slider__arrow--right {
  right: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  .slider__arrow--right:hover, .slider__arrow--right:focus {
    -webkit-transform: rotate(-90deg) scale(1.1);
        -ms-transform: rotate(-90deg) scale(1.1);
            transform: rotate(-90deg) scale(1.1); }

.arrow {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 49; }
  @media (max-width: 500px) {
    .arrow {
      display: none; } }

.arrow__icon {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  color: currentcolor;
  width: 100px;
  height: 100px;
  cursor: pointer; }
  .arrow__icon:hover, .arrow__icon:focus {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.navigation {
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50px;
  width: 210px;
  background-color: #0097ba;
  height: 50px;
  z-index: 102; }

.logo {
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  color: currentcolor;
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 10px 0; }

.logo__border {
  letter-spacing: 2px;
  border: 1px solid currentcolor;
  padding: 2px 5px; }

.navigation__section {
  color: currentcolor;
  background-color: #0097ba;
  position: fixed;
  left: 210px;
  top: 50px;
  height: 50px;
  font-size: 18px;
  padding: 10px 10px; }
  .navigation__section:before {
    content: '';
    font-size: 24px;
    border-left: 1px solid #fff;
    position: relative;
    left: -11px;
    top: 0; }

.navigation__section--link {
  text-decoration: none; }

.hamburger {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: currentColor;
  float: left;
  width: 50px;
  height: 50px; }

.hamburger__line {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  position: absolute;
  background-color: currentcolor;
  height: 3px;
  left: 10px;
  width: 30px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .hamburger__line:nth-child(1) {
    top: 13px; }
  .hamburger__line:nth-child(2) {
    top: 23.5px; }
  .hamburger__line:nth-child(3) {
    top: 34px; }

.hamburger__line--open:nth-child(1) {
  top: 23px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger__line--open:nth-child(2) {
  -webkit-transform: rotateY(-90deg);
          transform: rotateY(-90deg); }

.hamburger__line--open:nth-child(3) {
  top: 23px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.sidebar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow-x: hidden;
  background-color: transparent;
  color: #0097ba;
  z-index: 101; }

.sidebar--open {
  background-color: #fff;
  height: 100%;
  z-index: 101; }

.sidebar__navigation {
  display: block;
  margin-top: 140px; }

.sidebar__link {
  display: inline-block;
  color: currentcolor;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 50px;
  position: relative; }
  .sidebar__link:after {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px; }

.sidebar__link--hover {
  outline: none; }
  .sidebar__link--hover:after {
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; }

.main {
  padding: 0;
  margin: 0; }

.about {
  line-height: 25px; }

.about__subtitle {
  font-size: 1.4em;
  text-align: left;
  text-transform: none;
  font-weight: 300;
  padding: 5px 0;
  margin: 0; }

.categories {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0097ba;
  padding-top: 40px; }
  @media (max-width: 700px) {
    .categories {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.categories__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%; }
  @media (max-width: 700px) {
    .categories__element {
      margin-bottom: 40px;
      width: 100%; } }

.categories__element--creative {
  color: #4a4a4a; }

.categories__element--technology {
  color: #dd748a; }

.categories__element--design {
  color: #0097ba; }

.list {
  width: 100%;
  color: currentcolor;
  font-weight: 300; }

.list__element {
  display: block;
  text-align: center; }

.page-image {
  width: 100%;
  height: 600px;
  background-color: #2A282B;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  overflow-x: hidden; }

.page-image--blog {
  background: url("/img/main_blog-M.jpg");
  background-position: 0 50%;
  background-size: cover; }
  @media (min-width: 4000px) {
    .page-image--blog {
      background-image: url("/img/main_blog-XL.jpg"); } }
  @media (min-width: 2000px) {
    .page-image--blog {
      background-image: url("/img/main_blog-L.jpg"); } }
  @media (max-width: 1000px) {
    .page-image--blog {
      background-image: url("/img/main_blog-S.jpg"); } }
  @media (max-width: 500px) {
    .page-image--blog {
      height: 800px; } }

.page-image--about {
  background: url("/img/about_city-M.jpg");
  background-position: 50% 65%;
  background-size: cover; }
  @media (max-width: 1010px) {
    .page-image--about .page-image__promo {
      width: 100%; } }
  @media (min-width: 4000px) {
    .page-image--about {
      background-image: url("/img/about_city-XL.jpg"); } }
  @media (min-width: 2000px) {
    .page-image--about {
      background-image: url("/img/about_city-L.jpg"); } }
  @media (max-width: 1010px) {
    .page-image--about {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      background-image: url("/img/about_city-S.jpg"); } }
  @media (max-width: 500px) {
    .page-image--about {
      height: 400px; } }

.page-image__wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

.page-image__promo {
  height: 100%;
  width: 50%;
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 1010px) {
    .page-image__promo {
      width: 100%; } }

.page-image__promo--image {
  height: 150px; }
  @media (min-width: 1010px) {
    .page-image__promo--image {
      height: 100%; } }

.page-image__title {
  display: block;
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align: middle;
  line-height: 50px;
  width: 200%;
  color: currentcolor; }

.page-image__title--top {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin: 25px 0;
  padding: 15px;
  -webkit-border-top-left-radius: 50px;
          border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
  color: #fff; }
  @media (min-width: 550px) {
    .page-image__title--top:hover, .page-image__title--top:focus {
      -webkit-transform: translateX(-75px);
          -ms-transform: translateX(-75px);
              transform: translateX(-75px); }
      .page-image__title--top:hover .page-image__icon, .page-image__title--top:focus .page-image__icon {
        -webkit-transform: rotate(25deg) scale(1.25);
            -ms-transform: rotate(25deg) scale(1.25);
                transform: rotate(25deg) scale(1.25); } }
  @media (max-width: 500px) {
    .page-image__title--top {
      padding: 7px;
      font-size: 1em; } }
  @media (max-width: 360px) {
    .page-image__title--top {
      padding: 5px;
      font-size: 0.9em; } }

.page-image__title--mask-1 {
  background-color: rgba(74, 74, 74, 0.5); }

.page-image__title--mask-2 {
  background-color: rgba(221, 116, 138, 0.5); }

.page-image__title--mask-3 {
  background-color: rgba(0, 151, 186, 0.5); }

.page-image__text--about {
  color: #000;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.page-image__image {
  width: 80%;
  max-width: 400px; }

.page-image__icon {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 20px;
  height: 20px;
  color: currentcolor; }

.page-image__icon--top {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px; }
  @media (max-width: 360px) {
    .page-image__icon--top {
      width: 50px;
      height: 50px; } }

.page-image__icon--mask-1 {
  color: rgba(74, 74, 74, 0.5); }

.page-image__icon--mask-2 {
  color: rgba(221, 116, 138, 0.5); }

.page-image__icon--mask-3 {
  color: rgba(0, 151, 186, 0.5); }

.page {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.certificates {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.certificates__content {
  padding-top: 40px;
  text-align: center;
  max-width: 1100px; }

.certificates__cert {
  margin: 0 2px 0; }
  @media (max-width: 500px) {
    .certificates__cert {
      width: 125px; } }

.page__video {
  width: 100%; }
  @media (max-width: 1100px) {
    .page__video {
      display: none; } }

.page__text {
  padding-left: 50px;
  width: 100%;
  text-align: justify; }
  @media (max-width: 1100px) {
    .page__text {
      padding: 0; } }

.app-menu {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 500px;
  background-color: #0097ba;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(-500px, 0, 0);
          transform: translate3d(-500px, 0, 0);
  z-index: 101;
  color: #fff;
  height: 100%; }
  @media (max-width: 550px) {
    .app-menu {
      width: 100%;
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); } }

.app-menu__order {
  margin-top: 55px; }
  .app-menu__order .order__input {
    margin: 5px 0; }
  .app-menu__order .order__submit {
    width: 100%;
    max-width: 460px; }
  @media (max-width: 550px) {
    .app-menu__order .order__title {
      display: none; } }
  @media (max-width: 550px) {
    .app-menu__order .order__textarea {
      height: 100px; } }

.app-menu--open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.blind {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 30px;
  height: 50px;
  cursor: pointer;
  background-color: #0097ba;
  -webkit-transform: translate3d(30px, 0, 0);
          transform: translate3d(30px, 0, 0);
  position: absolute;
  bottom: 50px;
  right: 0; }

.blind__line1,
.blind__line2 {
  background-color: #fff;
  height: 2px;
  width: 20px;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto; }

.blind__line1 {
  -webkit-transform: translate3d(3px, -5px, 0) rotate(30deg);
          transform: translate3d(3px, -5px, 0) rotate(30deg); }

.blind__line2 {
  -webkit-transform: translate3d(3px, 5px, 0) rotate(-30deg);
          transform: translate3d(3px, 5px, 0) rotate(-30deg); }

.blind--open {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #fff;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  width: 50px; }

.blind__line1--open,
.blind__line2--open {
  background-color: #0097ba;
  width: 30px; }

.blind__line1--open {
  -webkit-transform: translate3d(10px, 0, 0) rotate(45deg);
          transform: translate3d(10px, 0, 0) rotate(45deg); }

.blind__line2--open {
  -webkit-transform: translate3d(10px, 0, 0) rotate(-45deg);
          transform: translate3d(10px, 0, 0) rotate(-45deg); }

.order {
  width: 100%;
  background-color: #0097ba;
  color: #fff; }

.order__form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.order__table {
  width: 100%;
  max-width: 1000px; }
  @media (max-width: 930px) {
    .order__table {
      text-align: center; } }

.order__cell {
  width: 30%;
  min-width: 300px;
  height: 50px;
  vertical-align: top;
  padding-top: 5px; }
  @media (max-width: 930px) {
    .order__cell {
      display: none; } }

.order__title {
  text-align: center; }

.order__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45%;
  padding: 10px 0;
  margin: 0; }

.order__label {
  font-size: 20px;
  display: inline-block;
  text-align: right;
  width: 100%;
  max-width: 300px;
  padding-top: 5px;
  padding-right: 20px; }

.order__input {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  height: 35px;
  width: 100%;
  max-width: 460px;
  padding: 10px 15px; }
  @media (max-width: 930px) {
    .order__input {
      margin: 5px 0; } }

.order__textarea {
  padding: 0;
  margin: 6px 0 8px;
  border: none;
  outline: none;
  height: 150px;
  width: 100%;
  resize: none;
  max-width: 460px;
  padding: 10px 15px; }

.order__button {
  width: 48%;
  max-width: 220px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 40px;
  background-color: #151515;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  display: inline-block; }

.order__button--file {
  background-color: transparent;
  border: 2px solid currentcolor;
  position: absolute;
  left: 0; }
  @media (max-width: 550px) {
    .order__button--file {
      display: none; } }

.order__file {
  display: none; }

.file__text {
  position: absolute;
  top: 45px; }

.order__button-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  left: -3px; }

.order__submit {
  float: right; }
  @media (max-width: 550px) {
    .order__submit {
      width: 100%;
      max-width: 460px; } }

.buttons {
  position: relative;
  width: 100%;
  max-width: 460px; }

.clients {
  width: 100%;
  position: relative;
  color: #000;
  background-color: #fff; }

.clients__title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: center; }

.client {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
  background-color: #e4e4e4;
  background-size: 50% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .client:hover {
    background-color: #0097ba; }

.client--0 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #000;
  text-decoration: none; }
  .client--0:hover {
    color: #fff; }

.client--1 {
  background-image: url("/img/clients/cis/cis_logo_black.png"); }
  .client--1:hover {
    background-image: url("/img/clients/cis/cis_logo_white.png"); }

.client--2 {
  background-image: url("/img/clients/sportlifting/sportlifting_logo_black.png"); }
  .client--2:hover {
    background-image: url("/img/clients/sportlifting/sportlifting_logo_white.png"); }

.client--3 {
  background-image: url("/img/clients/volonter71/volonter71_logo_black.png"); }
  .client--3:hover {
    background-image: url("/img/clients/volonter71/volonter71_logo_white.png"); }

.client--4 {
  background-image: url("/img/clients/tsu/tsu_logo_black.png"); }
  .client--4:hover {
    background-image: url("/img/clients/tsu/tsu_logo_white.png"); }

.client--5 {
  background-image: url("/img/clients/gazel-traffic/gazel-traffic_logo_black.png"); }
  .client--5:hover {
    background-image: url("/img/clients/gazel-traffic/gazel-traffic_logo_white.png"); }

.client--6 {
  background-image: url("/img/clients/tulskayakvartirka/tulskayakvartirka_logo_black.png"); }
  .client--6:hover {
    background-image: url("/img/clients/tulskayakvartirka/tulskayakvartirka_logo_white.png"); }

.client--7 {
  background-image: url("/img/clients/tcn/tcn_logo_black.png"); }
  .client--7:hover {
    background-image: url("/img/clients/tcn/tcn_logo_white.png"); }

.client--8 {
  background-image: url("/img/clients/justspaceshoot/justspaceshoot_logo_black.png"); }
  .client--8:hover {
    background-image: url("/img/clients/justspaceshoot/justspaceshoot_logo_white.png"); }

.client--9 {
  background-image: url("/img/clients/wunder/wunder_logo_black.png"); }
  .client--9:hover {
    background-image: url("/img/clients/wunder/wunder_logo_white.png"); }

.client--10 {
  background-image: url("/img/clients/doly-tula/doly-tula_logo_black.png"); }
  .client--10:hover {
    background-image: url("/img/clients/doly-tula/doly-tula_logo_white.png"); }

.client__categories {
  position: absolute;
  width: 100%;
  white-space: normal;
  display: block;
  bottom: 10px;
  font-size: 0.85rem;
  background-color: transparent;
  color: #fff; }

.client__category {
  background-color: #4a4a4a;
  padding: 3px 5px;
  margin: 0;
  white-space: nowrap; }

.map {
  width: 100%; }

#map {
  height: 500px; }
  @media (max-width: 500px) {
    #map {
      height: 300px; } }

.footer {
  color: #fff;
  position: relative; }
  @media (max-width: 500px) {
    .footer {
      font-size: 12px; } }
  @media (max-width: 320px) {
    .footer {
      font-size: 10px; } }

.footer__contact {
  background-color: #4a4a4a;
  width: 100%;
  text-align: center; }

.footer__element {
  width: 100%; }

.footer__title {
  padding: 10px 0; }
  @media (max-width: 500px) {
    .footer__title {
      padding: 5px 0; } }

.footer__link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px; }
  .footer__link:hover, .footer__link:focus {
    text-decoration: underline; }

.footer__social-link {
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 0; }

.footer__icon {
  width: 30px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; }
  .footer__icon:hover, .footer__icon:focus {
    color: #0097ba; }
  @media (max-width: 500px) {
    .footer__icon {
      width: 20px;
      height: 30px; } }

.footer__icon--vk {
  width: 40px; }
  @media (max-width: 500px) {
    .footer__icon--vk {
      width: 30px; } }

.footer__copyright {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: #151515; }

.services {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #fff; }

.services__title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  text-align: center; }

.services__text {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 40px; }

.service {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-color: #fff;
  padding: 20px;
  width: 33%;
  max-width: 300px;
  padding-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden; }
  .service:hover, .service:focus {
    background-color: #e4e4e4;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }
    .service:hover .service__svg, .service:focus .service__svg {
      color: #fff;
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  @media (max-width: 800px) {
    .service {
      width: 100%;
      max-width: 400px; }
      .service:not(:last-child) {
        margin-bottom: 80px; } }

.service__svg {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: absolute;
  top: 20px;
  color: #e4e4e4;
  width: 100%;
  left: 0;
  right: 0; }

.service__title {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: #000;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.service__button-block {
  display: block;
  text-align: center; }

.service__button {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border: 1px solid #0097ba;
  background-color: #0097ba;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 20px;
  display: inline-block; }
  @media (max-width: 1000px) {
    .service__button {
      padding: 5px 10px;
      font-size: 0.85rem; } }
  @media (max-width: 800px) {
    .service__button {
      padding: 10px 20px;
      font-size: 1rem; } }

.portfolio {
  width: 100%;
  padding: 0;
  margin: 0; }

.portfolio__line {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.portfolio__project {
  width: 33.3333%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 800px) {
    .portfolio__project {
      width: 50%; } }
  @media (max-width: 400px) {
    .portfolio__project {
      width: 100%; } }

.portfolio_add {
  width: 66.6666%;
  z-index: 0;
  color: #fff; }
  .portfolio_add:hover .project_add__svg--portfolio {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3); }
  @media (max-width: 800px) {
    .portfolio_add {
      width: 50%;
      font-size: 0.8rem; } }
  @media (max-width: 400px) {
    .portfolio_add {
      width: 100%; } }

.project_add__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.project_add__svg {
  fill: currentcolor;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: -webkit-calc(50% - 50px);
  top: calc(50% - 50px); }

.project_add__svg--portfolio {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }

.project_add__text {
  position: absolute;
  top: -webkit-calc(50% + 25px);
  top: calc(50% + 25px);
  margin-top: 10px;
  font-weight: 300;
  width: 100%;
  white-space: normal;
  text-align: center;
  color: currentcolor;
  text-decoration: none; }

.project_add__text--portfolio {
  top: -webkit-calc(50% + 50px);
  top: calc(50% + 50px); }

.portfolio__logo {
  position: absolute;
  pointer-events: auto;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  -o-object-fit: contain;
     object-fit: contain; }
  .portfolio__logo:hover + .portfolio__mask {
    opacity: 1; }
    .portfolio__logo:hover + .portfolio__mask .portfolio__categories {
      opacity: 1; }

.portfolio__mask {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.5; }

.portfolio__mask--hover {
  opacity: 1; }

.portfolio__mask--0 {
  background-color: #4a4a4a; }

.portfolio__mask--1 {
  background-color: #4a4a4a; }

.portfolio__mask--2 {
  background-color: #dd748a; }

.portfolio__mask--3 {
  background-color: #0097ba; }

.portfolio__mask--4 {
  background-color: #7b2a8b; }

.portfolio__mask--5 {
  background-color: #00ebbe; }

.portfolio__mask--6 {
  background-color: #f5a623; }

.portfolio__mask--7 {
  background-color: #7ed321; }

.portfolio__mask--8 {
  background-color: #cc6533; }

.portfolio__mask--9 {
  background-color: #23b2f5; }

.portfolio__mask--10 {
  background-color: #d0021b; }

.portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.portfolio__categories {
  text-align: left;
  background-color: transparent;
  color: #fff;
  position: absolute;
  bottom: 5%;
  opacity: 0; }

.portfolio__category {
  white-space: nowrap;
  background-color: #4a4a4a;
  padding: 5px 10px;
  margin-bottom: 5px; }

.article {
  width: 100%; }

.article__cut {
  padding-bottom: 40px; }

.article__paragraph:not(:last-child) {
  padding-bottom: 20px; }

.article__code {
  display: block;
  font-family: monospace;
  background-color: #e4e4e4;
  padding-left: 10px;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5; }

.article__footer {
  font-size: 0.9em;
  font-style: italic;
  width: 100%; }

.article__date {
  float: left; }

.article__marker--important {
  text-transform: uppercase; }

.article__date--right {
  float: right; }

.article__share {
  float: right; }

.article__icon {
  width: 20px;
  height: 20px;
  color: currentcolor; }

.vacancies {
  width: 100%; }

.vacancies__line {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px; }

.vacancy {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 33.333333%;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 25px; }
  .vacancy:hover, .vacancy:focus {
    background-color: #e4e4e4;
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025); }
  @media (max-width: 900px) {
    .vacancy {
      width: 100%;
      max-width: 400px; }
      .vacancy:not(:last-child) {
        margin-bottom: 80px; } }

.vacancy__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 0.9em; }

.vacancy__list-element {
  display: block; }

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.contacts__title {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.contact {
  width: 50%;
  padding: 20px 0;
  text-align: center;
  font-size: 20px; }
  @media (max-width: 850px) {
    .contact {
      width: 100%; } }
  @media (max-width: 500px) {
    .contact {
      font-size: 16px; } }

.contact__link {
  text-decoration: none; }
  .contact__link:hover, .contact__link:focus {
    text-decoration: underline; }

.contact__social-link {
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 50px; }
  @media (max-width: 850px) {
    .contact__social-link {
      margin-top: 20px; } }
  @media (max-width: 500px) {
    .contact__social-link {
      height: 30px; } }

.contact__icon {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 50px;
  height: 60px;
  cursor: pointer; }
  .contact__icon:hover, .contact__icon:focus {
    color: #0097ba; }
  @media (max-width: 500px) {
    .contact__icon {
      width: 30px;
      height: 40px; } }

.contact__icon--vk {
  width: 60px; }

.tools {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.tool {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 30%;
  padding: 20px 10px;
  border: 1px solid #e4e4e4; }
  @media (max-width: 1100px) {
    .tool {
      width: 100%; } }

.tool__title {
  color: #000; }

.tool__text {
  padding: 40px 20px;
  color: #000; }

.main-services {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.table-wrapper {
  overflow-x: auto; }

.main-services-table {
  border-collapse: collapse;
  text-align: center; }
  .main-services-table tr td {
    border: 1px solid #4a4a4a;
    padding: 10px 15px; }
    .main-services-table tr td:nth-child(1) {
      font-weight: 300; }
    @media (max-width: 850px) {
      .main-services-table tr td {
        padding: 0 5px; } }
  .main-services-table tr:nth-child(1) {
    background-color: #0097ba;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase; }
  @media (max-width: 910px) {
    .main-services-table tr {
      font-size: .9rem; } }
  @media (max-width: 730px) {
    .main-services-table tr {
      font-size: .8rem; } }
  @media (max-width: 665px) {
    .main-services-table tr {
      padding: 0;
      font-size: .7rem; } }

.main-services-block {
  max-width: 400px;
  width: 50%;
  margin: 30px 0 0;
  border: 3px solid #0097ba;
  padding: 20px 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 800px) {
    .main-services-block {
      width: 100%; } }
  @media (max-width: 400px) {
    .main-services-block {
      width: 100%; } }

.main-services-block--1 {
  color: #4a4a4a; }

.main-services-block--2 {
  color: #dd748a; }

.main-services-block--3 {
  color: #0097ba; }

.main-services-block__title {
  color: currentcolor; }

.main-services-block__line {
  width: 80%;
  display: block;
  position: relative;
  height: 2px;
  left: -10%;
  top: -10px; }

.main-services-block__text {
  color: #000; }

.main-services-block__days {
  font-weight: 400;
  color: #0097ba; }

.main-services-block__cost {
  font-weight: 400;
  color: #0097ba; }

.other-services {
  width: 100%;
  padding-top: 0; }

.other-services__block {
  width: 100%;
  margin-bottom: 10px; }

.other-services__block--1 {
  color: #4a4a4a; }

.other-services__block--2 {
  color: #dd748a; }

.other-services__block--3 {
  color: #0097ba; }

.other-services__title {
  text-align: left;
  color: currentcolor;
  padding: 10px 0; }

.other-services__line {
  width: 80%;
  display: block;
  position: relative;
  height: 2px;
  left: -40%;
  top: -10px; }

.other-services__text {
  color: #000; }
