@import 'fonts.scss';
@import 'mixins.scss';
@import 'variables.scss';

*{
  box-sizing: border-box;
  border-collapse: collapse;
  &::selection{
    background-color: rgba(0,151,186,$alphaForHeader);
  }
}

body{
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  background-color: $bgColor;
  font-weight: 300;
  color: $black;
  line-height: 2em;
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  @media (-webkit-min-device-pixel-ratio: 2) {
    font-weight: 200;
  }
}

a{
  color: currentColor;
  outline: none;
}

article{
  padding: 40px 50px;
  text-align: justify;
  @media(max-width: 500px){
    padding: 40px 10px;
  }
}

img{
  pointer-events: none;
}

svg{
  fill: currentcolor;
  width: 100px;
  height: 100px;
}

input, textarea{
  border-radius: 0;
  -webkit-appearance: none;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  margin: 0;
  padding: 0;
}

hr{
  border-width: 0;
  height: 1px;
  background-color: currentcolor;
}

@for $i from 1 through 6{
  h#{$i}{
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    letter-spacing: .1rem;
    padding: 20px 0;
    margin: 0;
    line-height: 2em;
  }
}

.bug{
  color: red !important;
}

.fill-color--first{
  color: $fourthColor;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear{
  clear: both;
}

.no-underline{
  text-decoration: none;
}

.big{
  font-size: 1.4em;
}

.image{
  width: 100%;
  position: relative;
  z-index: 1;
}

.image--site{
  width: 400px;
  float: right;
  padding: 0 0 25px 50px;
  @media(max-width: 750px){
    float: none;
    width: 300px;
    padding: 0 0 25px 0;
    margin: 0 auto;
    display: block;
  }
}

.button{
  @include transition(.3s);
  width: 200px;
  min-height: 50px;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 300;
}

.button--full{
  border: 2px solid currentcolor;
  border-radius: 5px;
  color: currentcolor;
}

.button--underline{
  color: $thirdColor;
  background-color: $white;
  border-bottom: 2px solid currentcolor;
  &:hover,&:focus{
    background-color: $gray;
    color: $black;
  }
}

.button--rosen{
  color: $fourthColor;
  border-color: $fourthColor;
  &:hover,&:focus{
    background-color: $fourthColor;
    border-color: $fourthColor;
    color: $white;
  }
}

.button--arrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-930px{
  @media(max-width: 930px){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.ajax-alert-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 111;
  display: none;
  background-color: rgba(0,0,0,0.8);
}

.ajax-alert-popup--open{
  display: flex;
}

.window{
  contain: paint;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border-radius: 2px;
  padding: 15px 25px;
  width: 400px;
  height: 200px;
  margin: auto;
  text-align: center;
}

.window__button-close{
  @include transition(.3s, ease-in-out);
  width: 30%;
  max-width: 300px;
  height: 50px;
  font-size: 16px;
  background-color: $white;
  border-color: $secondColor;
  cursor: pointer;
  &:hover,&:focus{
    background-color: $secondColor;
    color: $white;
  }
}

.window--done{
  background-color: $firstColor;
}

.window--error{
  background-color: $firstColor;
}

.window__text{
  font-size: 18px;
}

.window__text--done{
  display: none;
}

.window__text--error{
  display: none;
}

.header{
  background-size: cover;
  color: $white;
  position: relative;
  width: 100%;
}

.header__mask{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(100deg, rgba(74,74,74,$alphaForHeader) 33.3%, rgba(221,116,138,$alphaForHeader) 33.4%, rgba(221,116,138,$alphaForHeader) 66.6%, rgba(0,151,186,$alphaForHeader) 66.7%, rgba(0,151,186,$alphaForHeader) 100%);
  position: relative;
  z-index: 5;
}

.header__image{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title{
  @include transition(1s);
  position: absolute;
  top: 40%;
  transform: translateX(200%);
  font-size: 40px;
  width: 100%;
  z-index: 20;
  opacity: 0;
  @media(max-width: 500px){
    font-size: 25px;
    top: 35%;
  }
}

.header__title--back{
  transform: translateX(-200%);
}

.header__title--active{
  transform: translateX(0);
  z-index: 20;
  opacity: 1;
}

.header__title--const{
  position: absolute;
  top: 38%;
  text-align: center;
  z-index: 20;
  opacity: 1;
  transform: translateX(0);
  @media(max-width: 500px){
    font-size: 2em;
    top: 30%;
  }
}

.header__title--slice{
  transition: none;
  transform: translateX(0);
  opacity: 1;
  position: absolute;
  padding: 0;
  margin: 0;
  top: auto;
  bottom: -33px;
  z-index: 20;
  font-size: 5em;
  line-height: 1.5em;
  color: $white;
  @media(max-width: 1100px){
    font-size: 3.5em;
    bottom: -24px;
  }
  @media(max-width: 750px){
    font-size: 3em;
    bottom: -21px;
  }
  @media(max-width: 650px){
    font-size: 2em;
    bottom: -14px;
  }
}

.header__title--right{
  text-align: right;
  padding-right: 5%;
}

.header--index{
  height: 600px;
  background-position: 50% 30%;
  overflow-x: hidden;
}

.header--1div3{
  height: 170px;
  background-color: $firstColor;
}

.header--2div3{
  height: 350px;
}

.header--about{
  background-image: url('/img/about-M.jpg');
  background-position: 50% 75%;
  @media(min-width: 4000px){
    background-image: url('/img/about-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/about-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/about-S.jpg');
  }
}

.header--services{
  background-image: url('/img/services-M.jpg');
  background-position: 50% 75%;
  @media(min-width: 4000px){
    background-image: url('/img/services-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/services-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/services-S.jpg');
  }
}

.header--portfolio{
  background-image: url('/img/portfolio-M.jpg');
  background-position: 50% 60%;
  @media(min-width: 4000px){
    background-image: url('/img/portfolio-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/portfolio-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/portfolio-S.jpg');
  }
}

.header--blog{
  background-image: url('/img/blog-M.jpg');
  background-position: 50% 60%;
  @media(min-width: 4000px){
    background-image: url('/img/blog-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/blog-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/blog-S.jpg');
  }
}

.header--vacancies{
  background-image: url('/img/vacancies-M.jpg');
  background-position: 50% 100%;
  @media(min-width: 4000px){
    background-image: url('/img/vacancies-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/vacancies-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/vacancies-S.jpg');
  }
}

.header--contacts{
  background-image: url('/img/contacts-M.jpg');
  background-position: 50% 50%;
  @media(min-width: 4000px){
    background-image: url('/img/contacts-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/contacts-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/contacts-S.jpg');
  }
}

.header--tools{
  background-image: url('/img/tools-M.jpg');
  background-position: 50% 50%;
  @media(min-width: 4000px){
    background-image: url('/img/tools-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/tools-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/tools-S.jpg');
  }
}

.header--jqueryin2017{
  background-image: url('/img/articles/jqueryin2017-M.jpg');
  background-position: 50% 60%;
  @media(min-width: 4000px){
    background-image: url('/img/articles/jqueryin2017-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/articles/jqueryin2017-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/articles/jqueryin2017-S.jpg');
  }
}

.header--spritekit{
  background-image: url('/img/articles/spritekit-M.jpg');
  background-position: 50% 60%;
  @media(min-width: 4000px){
    background-image: url('/img/articles/spritekit-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/articles/spritekit-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/articles/spritekit-S.jpg');
  }
}

.header--vnutrennyaya-optimizaciya{
  background-image: url('/img/articles/vnutrennyaya_optimizaciya-M.jpg');
  background-position: 50% 60%;
  @media(min-width: 4000px){
    background-image: url('/img/articles/vnutrennyaya_optimizaciya-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/articles/vnutrennyaya_optimizaciya-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/articles/vnutrennyaya_optimizaciya-S.jpg');
  }
}

.header--domotoplenya{
  background-image: url('/img/clients/cis/cis_full.png');
  background-position: 50% 45%;
}

.header--gazel-traffic{
  background-image: url('/img/clients/gazel-traffic/gazel-traffic_full.jpg');
  background-position: 50% 45%;
}

.header--sportlifting{
  background-image: url('/img/clients/sportlifting/sportlifting_full.jpg');
  background-position: 50% 50%;
}

.header--justspaceshoot{
  background-image: url('/img/clients/justspaceshoot/justspaceshoot_full.png');
  background-position: 50% 35%;
}

.header--doly-tula{
  background-image: url('/img/clients/doly-tula/doly-tula_full.jpg');
  background-position: 50% 50%;
}

.header--tulskayakvartirka{
  background-image: url('/img/clients/tulskayakvartirka/tulskayakvartirka_full.jpg');
  background-position: 50% 50%;
}

.header--volonter71{
  background-image: url('/img/clients/volonter71/volonter71_full.jpg');
  background-position: 50% 50%;
}

.header--tsu{
  background-image: url('/img/clients/tsu/tsu_full.jpg');
  background-position: 50% 40%;
}

.header--tcn{
  background-image: url('/img/clients/tcn/tcn_full.jpg');
  background-position: 50% 40%;
}

.header--wunder{
  background-image: url('/img/clients/wunder/wunder_full.png');
  background-position: 50% 50%;
}

.certificates{
  width: 100%;
  position: relative;
  color: $black;
  background-color: $white;
}

.carusel{
  position: relative;
  overflow-x: hidden;
  height: 400px;
}

.carusel--line{

}

.carusel__title{

}

.slider{
  width: 100%;
}

.slider--line{
  @include transition(.5s);
  width: 100%;
  white-space: nowrap;
  background-color: transparent;
  color: $white;
  position: absolute;
}

.slider__slide{
  @include transition(1s);
  transform: translateX(200%);
  z-index: -100;
}

.slider__slide--line{
  transform: translateX(0);
  z-index: 0;
  display: inline-block;
  padding: 0;
  background-clip: content-box;
  margin: 0;
  width: 25%;
  height: 250px;
  background-color: $white;
  outline: 1px solid $white;
  @media(max-width: 800px){
    width: 50%;
  }
  @media(max-width: 500px){
    width: 100%;
    //padding: 25px 50px;
  }
}

.slider__slide--last{
  //margin-right: 50px;
}

.slider__slide--back{
  transform: translateX(0);
  z-index: -100;
}

.slider__slide--active{
  transform: translateX(0);
  z-index: -99;
}

.slider__slide--first{

}

.slider__slide--last{

}

.slider__slide--2{
  object-position: 50% 20%;
}

.slider__slide--3{
  object-position: 50% 50%;
}

.slider__slide--4{
  object-position: 50% 50%;
}

.slide__image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.arrow__wrapper{
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 50;
  top: 0;
  cursor: pointer;
}

.arrow__wrapper--left{
  left: 0;
  &:hover,&:focus{
    .slider__arrow--left{
      transform: rotate(90deg) scale(1.1);
    }
  }
}

.arrow__wrapper--right{
  right: 0;
  &:hover,&:focus{
    .slider__arrow--right{
      transform: rotate(-90deg) scale(1.1);
    }
  }
}

.slider__arrow{
  @include transition();
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 50;
  width: 35px;
  height: 35px;
}

.slider__arrow--left{
  left: 20px;
  transform: rotate(90deg);
  &:hover,&:focus{
    transform: rotate(90deg) scale(1.1);
  }
}

.slider__arrow--right{
  right: 20px;
  transform: rotate(-90deg);
  &:hover,&:focus{
    transform: rotate(-90deg) scale(1.1);
  }
}

.arrow{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 49;
  @media(max-width: 500px){
    display: none;
  }
}

.arrow__icon{
  @include transition();
  color: currentcolor;
  width: 100px;
  height: 100px;
  cursor: pointer;
  &:hover,&:focus{
    transform: scale(1.1);
  }
}

.navigation{
  position: fixed;
  margin: 0;
  padding: 0;
  left: 0;
  top: 50px;
  width: 210px;
  background-color: $firstColor;
  height: 50px;
  z-index: 102;
}

.logo{
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  color: currentcolor;
  display: block;
  height: 100%;
  text-decoration: none;
  padding: 10px 0;
}

.logo__border{
  letter-spacing: 2px;
  border: 1px solid currentcolor;
  padding: 2px 5px;
}

.navigation__section{
  color: currentcolor;
  background-color: $firstColor;
  position: fixed;
  left: 210px;
  top: 50px;
  height: 50px;
  font-size: 18px;
  padding: 10px 10px;
  &:before{
    content: '';
    font-size: 24px;
    border-left: 1px solid $white;
    position: relative;
    left: -11px;
    top: 0;
  }
}

.navigation__section--link{
  text-decoration: none;
}

.hamburger{
  cursor: pointer;
  position: relative;
  background-color: transparent;
  color: currentColor;
  float: left;
  width: 50px;
  height: 50px;
}

.hamburger__line{
  @include transition(.5s, ease-in-out);
  display: inline-block;
  position: absolute;
  background-color: currentcolor;
  height: 3px;
  left: 10px;
  width: 30px;
  border-radius: 3px;
  &:nth-child(1){
    top: 13px;
  }
  &:nth-child(2){
    top: 23.5px;
  }
  &:nth-child(3){
    top: 34px;
  }
}

.hamburger__line--open{
  &:nth-child(1){
    top: 23px;
    transform: rotate(45deg);
  }
  &:nth-child(2){
    transform: rotateY(-90deg);
  }
  &:nth-child(3){
    top: 23px;
    transform: rotate(-45deg);
  }
}

.sidebar{
  @include transition(.5s, ease-in-out);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  overflow-x: hidden;
  background-color: transparent;
  color: $firstColor;
  z-index: 101;
}

.sidebar--open{
  background-color: $bgColor;
  height: 100%;
  z-index: 101;
}

.sidebar__navigation{
  display: block;
  margin-top: 140px;
}

.sidebar__link{
  display: inline-block;
  color: currentcolor;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 50px;
  position: relative;
  &:after{
    @include transition(.5s, ease-in-out);
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
  }
}

.sidebar__link--hover {
  outline: none;
  &:after{
    content: '';
    background-color: currentcolor;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }
}

.main{
  padding: 0;
  margin: 0;
}

.about{
 line-height: 25px;
}

.about__subtitle{
  font-size: 1.4em;
  text-align: left;
  text-transform: none;
  font-weight: 300;
  padding: 5px 0;
  margin: 0;
}

.about__text{

}

.categories{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: $firstColor;
  padding-top: 40px;
  @media(max-width: 700px){
    flex-direction: column;
  }
}

.categories__element{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  @media(max-width: 700px){
    margin-bottom: 40px;
    width: 100%;
  }
}

.categories__element--creative{
  color: $thirdColor;
}

.categories__element--technology{
  color: $fourthColor;
}

.categories__element--design{
  color: $firstColor;
}

.list{
  width: 100%;
  color: currentcolor;
  font-weight: 300;
}

.list__element{
  display: block;
  text-align: center;
}

.page-image{
  width: 100%;
  height: 600px;
  background-color: #2A282B;
  background-repeat: no-repeat;
  color: $white;
  position: relative;
  overflow-x: hidden;
}

.page-image--blog{
  background: url('/img/main_blog-M.jpg');
  background-position: 0 50%;
  background-size: cover;
  @media(min-width: 4000px){
    background-image: url('/img/main_blog-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/main_blog-L.jpg');
  }
  @media(max-width: 1000px){
    background-image: url('/img/main_blog-S.jpg');
  }
  @media(max-width: 500px){
    height: 800px;
  }
}

.page-image--about{
  background: url('/img/about_city-M.jpg');
  background-position: 50% 65%;
  background-size: cover;
  & .page-image__promo{
    @media(max-width: 1010px){
      width: 100%;
    }
  }
  @media(min-width: 4000px){
    background-image: url('/img/about_city-XL.jpg');
  }
  @media(min-width: 2000px){
    background-image: url('/img/about_city-L.jpg');
  }
  @media(max-width: 1010px){
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url('/img/about_city-S.jpg');
  }
  @media(max-width: 500px){
    height: 400px;
  }
}

.page-image__wrapper{
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
}

.page-image__promo{
  height: 100%;
  width: 50%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media(max-width: 1010px){
    width: 100%;
  }
}

.page-image__promo--image{
  @media(min-width: 1010px){
    height: 100%;
  }
  height: 150px;
}

.page-image__title{
  display: block;
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 300;
  vertical-align: middle;
  line-height: 50px;
  width: 200%;
  color: currentcolor;
}

.page-image__title--top{
  @include transition();
  margin: 25px 0;
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: $white;
  @media(min-width: 550px){
    &:hover,&:focus{
      transform: translateX(-75px);
      .page-image__icon{
        transform: rotate(25deg) scale(1.25);
      }
    }
  }
  @media(max-width: 500px){
    padding: 7px;
    font-size: 1em;
  }
  @media(max-width: 360px){
    padding: 5px;
    font-size: 0.9em;
  }
}

.page-image__title--mask-1{
  background-color: rgba(74,74,74,$alphaForHeader);
}

.page-image__title--mask-2{
  background-color: rgba(221,116,138,$alphaForHeader);
}

.page-image__title--mask-3{
  background-color: rgba(0,151,186,$alphaForHeader);
}

.page-image__text{

}

.page-image__text--about{
  color: $black;
  align-items: flex-start;
}

.page-image__image{
  width: 80%;
  max-width: 400px;
}

.page-image__icon{
  @include transition();
  width: 20px;
  height: 20px;
  color: currentcolor;
}

.page-image__icon--top{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  @media(max-width: 360px){
    width: 50px;
    height: 50px;
  }
}

.page-image__icon--mask-1{
  color: rgba(74,74,74,$alphaForHeader);
}

.page-image__icon--mask-2{
  color: rgba(221,116,138,$alphaForHeader);
}

.page-image__icon--mask-3{
  color: rgba(0,151,186,$alphaForHeader);
}

.page{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.certificates{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates__content{
  padding-top: 40px;
  text-align: center;
  max-width: 1100px;
}

.certificates__cert{
  margin: 0 2px 0;
  @media(max-width: 500px){
    width: 125px;
  }
}

.page__video{
  width: 100%;
  @media(max-width: 1100px){
    display: none;
  }
}

.page__text{
  padding-left: 50px;
  width: 100%;
  text-align: justify;
  @media(max-width: 1100px){
    padding: 0;
  }
}

.app-menu{
  @include transition();
  width: 500px;
  background-color: $firstColor;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translate3d(-500px,0,0);
  z-index: 101;
  color: $white;
  height: 100%;
  @media(max-width: 550px){
    width: 100%;
    transform: translate3d(-100%,0,0);
  }
}

.app-menu__order{
  margin-top: 55px;
  .order__input{
    margin: 5px 0;
  }
  .order__submit{
    width: 100%;
    max-width: 460px;
  }
  .order__title{
    @media(max-width: 550px){
      display: none;
    }
  }
  .order__textarea{
    @media(max-width: 550px){
      height: 100px;
    }
  }
}

.app-menu--open{
  transform: translate3d(0,0,0);
}

.blind{
  @include transition();
  width: 30px;
  height: 50px;
  cursor: pointer;
  background-color: $firstColor;
  transform: translate3d(30px,0,0);
  position: absolute;
  bottom: 50px;
  right: 0;
}

.blind__line1,
.blind__line2{
  background-color: $white;
  height: 2px;
  width: 20px;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
}

.blind__line1{
  transform: translate3d(3px,-5px,0) rotate(30deg);
}

.blind__line2{
  transform: translate3d(3px,5px,0) rotate(-30deg);
}

.blind--open{
  @include transition();
  background-color: $white;
  border-radius: 0;
  transform: translate3d(-30px,0,0);
  width: 50px;
}

.blind__line1--open,
.blind__line2--open{
  background-color: $firstColor;
  width: 30px;
}

.blind__line1--open{
  transform: translate3d(10px,0,0) rotate(45deg);
}

.blind__line2--open{
  transform: translate3d(10px,0,0) rotate(-45deg);
}

.order{
  width: 100%;
  background-color: $firstColor;
  color: $white;
}

.order__form{
  width: 100%;
  display: flex;
  justify-content: center;
}

.order__table{
  width: 100%;
  max-width: 1000px;
  @media(max-width: 930px){
    text-align: center;
  }
}

.order__cell{
  width: 30%;
  min-width: 300px;
  height: 50px;
  vertical-align: top;
  padding-top: 5px;
  @media(max-width: 930px){
    display: none;
  }
}

.order__title{
  text-align: center;
}

.order__button{
  display: flex;
  justify-content: center;
  width: 45%;
  padding: 10px 0;
  margin: 0;
}

.order__label{
  font-size: 20px;
  display: inline-block;
  text-align: right;
  width: 100%;
  max-width: 300px;
  padding-top: 5px;
  padding-right: 20px;
}

.order__input{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  height: 35px;
  width: 100%;
  max-width: 460px;
  padding: 10px 15px;
  @media(max-width: 930px){
    margin: 5px 0;
  }
}

.order__textarea{
  padding: 0;
  margin: 6px 0 8px;
  border: none;
  outline: none;
  height: 150px;
  width: 100%;
  resize: none;
  max-width: 460px;
  padding: 10px 15px;
}

.order__button{
  width: 48%;
  max-width: 220px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  height: 40px;
  background-color: $secondColor;
  color: $white;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.order__button--file{
  background-color: transparent;
  border: 2px solid currentcolor;
  position: absolute;
  left: 0;
  @media(max-width: 550px){
    display: none;
  }
}

.order__file{
  display: none;
}

.file__text{
  position: absolute;
  top: 45px;
}

.order__button-icon{
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  left: -3px;
}

.order__submit{
  float: right;
  @media(max-width: 550px){
    width: 100%;
    max-width: 460px;
  }
}

.buttons{
  position: relative;
  width: 100%;
  max-width: 460px;
}

.clients{
  width: 100%;
  position: relative;
  color: $black;
  background-color: $white;
}

.clients__title{
  flex-basis: 100%;
  text-align: center;
}

.client{
  @include transition();
  position: relative;
  background-color: $gray;
  background-size: 50% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &:hover{
    background-color: $firstColor;
  }
}

.client--0{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: $black;
  text-decoration: none;
  &:hover{
    color: $white;
  }
}

.client--1{
  background-image: url('/img/clients/cis/cis_logo_black.png');
  &:hover{
    background-image: url('/img/clients/cis/cis_logo_white.png');
  }
}

.client--2{
  background-image: url('/img/clients/sportlifting/sportlifting_logo_black.png');
  &:hover{
    background-image: url('/img/clients/sportlifting/sportlifting_logo_white.png');
  }
}

.client--3{
  background-image: url('/img/clients/volonter71/volonter71_logo_black.png');
  &:hover{
    background-image: url('/img/clients/volonter71/volonter71_logo_white.png');
  }
}

.client--4{
  background-image: url('/img/clients/tsu/tsu_logo_black.png');
  &:hover{
    background-image: url('/img/clients/tsu/tsu_logo_white.png');
  }
}

.client--5{
  background-image: url('/img/clients/gazel-traffic/gazel-traffic_logo_black.png');
  &:hover{
    background-image: url('/img/clients/gazel-traffic/gazel-traffic_logo_white.png');
  }
}

.client--6{
  background-image: url('/img/clients/tulskayakvartirka/tulskayakvartirka_logo_black.png');
  &:hover{
    background-image: url('/img/clients/tulskayakvartirka/tulskayakvartirka_logo_white.png');
  }
}

.client--7{
  background-image: url('/img/clients/tcn/tcn_logo_black.png');
  &:hover{
    background-image: url('/img/clients/tcn/tcn_logo_white.png');
  }
}

.client--8{
  background-image: url('/img/clients/justspaceshoot/justspaceshoot_logo_black.png');
  &:hover{
    background-image: url('/img/clients/justspaceshoot/justspaceshoot_logo_white.png');
  }
}

.client--9{
  background-image: url('/img/clients/wunder/wunder_logo_black.png');
  &:hover{
    background-image: url('/img/clients/wunder/wunder_logo_white.png');
  }
}

.client--10{
  background-image: url('/img/clients/doly-tula/doly-tula_logo_black.png');
  &:hover{
    background-image: url('/img/clients/doly-tula/doly-tula_logo_white.png');
  }
}

.client__categories{
  position: absolute;
  width: 100%;
  white-space: normal;
  display: block;
  bottom: 10px;
  font-size: 0.85rem;
  background-color: transparent;
  color: $white;
}

.client__category{
  background-color: $thirdColor;
  padding: 3px 5px;
  margin: 0;
  white-space: nowrap;
}

.map{
  width: 100%;
}

#map{
  height: 500px;
  @media(max-width: 500px){
    height: 300px;
  }
}

.footer{
  color: $white;
  position: relative;
  @media(max-width: 500px){
    font-size: 12px;
  }
  @media(max-width: 320px){
    font-size: 10px;
  }
}

.footer__contact{
  background-color: $thirdColor;
  width: 100%;
  text-align: center;
}

.footer__element{
  width: 100%;
}

.footer__title{
  padding: 10px 0;
  @media(max-width: 500px){
    padding: 5px 0;
  }
}

.footer__link{
  display: block;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
  &:hover,&:focus{
    text-decoration: underline;
  }
}

.footer__social-link{
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 0;
}

.footer__icon{
  width: 30px;
  height: 40px;
  cursor: pointer;
  @include transition(.3s);
  &:hover,&:focus{
    color: $firstColor;
  }
  @media(max-width: 500px){
    width: 20px;
    height: 30px;
  }
}

.footer__icon--vk{
  width: 40px;
  @media(max-width: 500px){
    width: 30px;
  }
}

.footer__copyright{
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 50px;
  height: 50px;
  background-color: $secondColor;
}


// SERVICES.PHP

.services{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content:space-around;
  flex-wrap: wrap;
  background-color: $bgColor;
}

.services__title{
  flex-basis: 100%;
  text-align: center;
}

.services__text{
  flex-basis: 100%;
  margin-bottom: 40px;
}

.service{
  @include transition();
  background-color: $white;
  padding: 20px;
  width: 33%;
  max-width: 300px;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  &:hover,&:focus{
    background-color: $gray;
    transform: scale(1.05);
    .service__svg{
      color: #fff;
      transform: scale(1.05);
    }
  }
  @media(max-width: 800px){
    width: 100%;
    max-width: 400px;
    &:not(:last-child){
      margin-bottom: 80px;
    }
  }
}

.service__svg{
  @include transition();
  position: absolute;
  top: 20px;
  color: #e4e4e4;
  width: 100%;
  left: 0;
  right: 0;
}

.service__title{
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: $black;
  box-sizing: content-box;
}

.service__button-block{
  display: block;
  text-align: center;
}

.service__button{
  @include transition();
  border: 1px solid $firstColor;
  background-color: $firstColor;
  font-weight: 300;
  color: $white;
  text-decoration: none;
  padding: 5px 20px;
  margin-top: 20px;
  display: inline-block;
  @media(max-width: 1000px){
    padding: 5px 10px;
    font-size: 0.85rem;
  }
  @media(max-width: 800px){
    padding: 10px 20px;
    font-size: 1rem;
  }
}


// PORTFOLIO.PHP

.portfolio{
  width: 100%;
  padding: 0;
  margin: 0;
}

.portfolio__title{

}

.portfolio__text{

}

.portfolio__line{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.portfolio__project{
  width: 33.3333%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 800px){
    width: 50%;
  }
  @media(max-width: 400px){
    width: 100%;
  }
}

.portfolio_add{
  width: 66.6666%;
  z-index: 0;
  color: $white;
  &:hover{
    .project_add__svg--portfolio{
      transform: scale(1.3);
    }
  }
  @media(max-width: 800px){
    width: 50%;
    font-size: 0.8rem;
  }
  @media(max-width: 400px){
    width: 100%;
  }
}

.project_add__content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project_add__svg{
  fill: currentcolor;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 50px);
}

.project_add__svg--portfolio{
  @include transition();
}

.project_add__text{
  position: absolute;
  top: calc(50% + 25px);
  margin-top: 10px;
  font-weight: 300;
  width: 100%;
  white-space: normal;
  text-align: center;
  color: currentcolor;
  text-decoration: none;
}

.project_add__text--portfolio{
  top: calc(50% + 50px);
}

.portfolio__logo{
  position: absolute;
  pointer-events: auto;
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 0 20%;
  object-fit: contain;
  &:hover + .portfolio__mask{
    opacity: 1;
    .portfolio__categories{
      opacity: 1;
    }
  }
}

.portfolio__mask{
  @include transition();
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: $alphaForHeader;
}

.portfolio__mask--hover{
  opacity: 1;
}

.portfolio__mask--0{
  background-color: rgb(74,74,74);
}

.portfolio__mask--1{
  background-color: rgb(74,74,74);
}

.portfolio__mask--2{
  background-color: rgb(221,116,138);
}

.portfolio__mask--3{
  background-color: rgb(0,151,186);
}

.portfolio__mask--4{
  background-color: rgb(123,42,139);
}

.portfolio__mask--5{
  background-color: rgb(0,235,190);
}

.portfolio__mask--6{
  background-color: rgb(245,166,35);
}

.portfolio__mask--7{
  background-color: rgb(126,211,33);
}

.portfolio__mask--8{
  background-color: rgb(204,101,51);
}

.portfolio__mask--9{
  background-color: rgb(35,178,245);
}

.portfolio__mask--10{
  background-color: rgb(208,2,27);
}

.portfolio__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__categories{
  text-align: left;
  background-color: transparent;
  color: $white;
  position: absolute;
  bottom: 5%;
  opacity: 0;
}

.portfolio__category{
  white-space: nowrap;
  background-color: $thirdColor;
  padding: 5px 10px;
  margin-bottom: 5px;
}


// BLOG.PHP

.article{
  width: 100%;
}

.article__title{

}

.article__cut{
  padding-bottom: 40px;
}

.article__paragraph{
  &:not(:last-child){
    padding-bottom: 20px;
  }
}

.article__code{
  display: block;
  font-family: monospace;
  background-color: $gray;
  padding-left: 10px;
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5;
}

.article__footer{
  font-size: 0.9em;
  font-style: italic;
  width: 100%;
}

.article__date{
  float: left;
}

.article__marker{

}

.article__marker--important{
  text-transform: uppercase;
}

.article__date--right{
  float: right;
}

.article__share{
  float: right;
}

.article__icon{
  width: 20px;
  height: 20px;
  color: currentcolor;
}


// VACANCIES.PHP

.vacancies{
  width: 100%;
}

.vacancies__text{

}

.vacancy__title{
}

.vacancies__line{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.vacancy{
  @include transition(.3s);
  width: 33.333333%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
  &:hover,&:focus{
    background-color: $gray;
    transform: scale(1.025);
  }
  @media(max-width: 900px){
    width: 100%;
    max-width: 400px;
    &:not(:last-child){
      margin-bottom: 80px;
    }
  }
}

.vacancy__description{

}

.vacancy__requirements{

}

.vacancy__list{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 0.9em;
}

.vacancy__list-element{
  display: block;
}


// CONTACTS.PHP

.contacts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contacts__title{
  flex-basis: 100%;
}

.contact{
  width: 50%;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  @media(max-width: 850px){
    width: 100%;
  }
  @media(max-width: 500px){
    font-size: 16px;
  }
}

.contact__link{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: underline;
  }
}

.contact__social-link{
  text-decoration: none;
  margin: 0 10px;
  display: inline-block;
  height: 50px;
  @media(max-width: 850px){
    margin-top: 20px;
  }
  @media(max-width: 500px){
    height: 30px;
  }
}

.contact__icon{
  @include transition(.3s);
  width: 50px;
  height: 60px;
  cursor: pointer;
  &:hover,&:focus{
    color: $firstColor;
  }
  @media(max-width: 500px){
    width: 30px;
    height: 40px;
  }
}

.contact__icon--vk{
  width: 60px;
}


// TOOLS.PHP

.tools{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tool{
  @include transition();
  width: 30%;
  padding: 20px 10px;
  border: 1px solid $gray;
  @media(max-width: 1100px){
    width: 100%;
  }
}

.tool__title{
  color: $black;
}

.tool__text{
  padding: 40px 20px;
  color: $black;
}


// /SERVICES/

.main-services{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.table-wrapper{
  overflow-x: auto;
}

.main-services-table{
  border-collapse: collapse;
  text-align: center;
  tr{
    td{
      border: 1px solid $thirdColor;
      padding: 10px 15px;
      &:nth-child(1){
        font-weight: 300;
      }
      @media(max-width: 850px){
        padding: 0 5px;
      }
    }
    &:nth-child(1){
      background-color: $firstColor;
      color: $white;
      font-weight: 300;
      text-transform: uppercase;
    }
    @media(max-width: 910px){
      font-size: .9rem;
    }
    @media(max-width: 730px){
      font-size: .8rem;
    }
    @media(max-width: 665px){
      padding: 0;
      font-size: .7rem;
    }
  }
}

.main-services-block{
  max-width: 400px;
  width: 50%;
  margin: 30px 0 0;
  border: 3px solid $firstColor;
  padding: 20px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(max-width: 800px){
    width: 100%;
  }
  @media(max-width: 400px){
    width: 100%;
  }
}

.main-services-block--1{
  color: $thirdColor;
}

.main-services-block--2{
  color: $fourthColor;
}

.main-services-block--3{
  color: $firstColor;
}

.main-services-block__title{
  color: currentcolor;
}

.main-services-block__line{
  width: 80%;
  display: block;
  position: relative;
  height: 2px;
  left: -10%;
  top: -10px;
}

.main-services-block__text{
  color: $black;
}

.main-services-block__days{
  font-weight: 400;
  color: $firstColor;
}

.main-services-block__cost{
  font-weight: 400;
  color: $firstColor;
}

// SERVICES/

.other-services{
  width: 100%;
  padding-top: 0;
}

.other-services__block{
  width: 100%;
  margin-bottom: 10px;
}

.other-services__block--1{
  color: $thirdColor;
}

.other-services__block--2{
  color: $fourthColor;
}

.other-services__block--3{
  color: $firstColor;
}

.other-services__title{
  text-align: left;
  color: currentcolor;
  padding: 10px 0;
}

.other-services__line{
  width: 80%;
  display: block;
  position: relative;
  height: 2px;
  left: -40%;
  top: -10px;
}

.other-services__text{
  color: $black;
}
